@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-datepicker/dist/react-datepicker.css"; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    @apply bg-mainbg text-maintxt
}
input{
    background-color: transparent;
}
.react-datepicker {
    font-family: 'Merriweather';
    font-size: 14px;
    width: 100%;
    border-radius: 5%;
    border: 1px solid #424242;
    background-color: rgb(245, 245, 220);
}
.react-datepicker__header {
    background-color: transparent;
    border-bottom: none;
    text-transform: capitalize;
}
.card {
    border: 1px solid #734652; /* Borde de la card */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Sombra de la card */
    padding: 1rem; /* Espaciado interno de la card */
    border-radius: 0.375rem; /* Borde redondeado de la card */
    position: absolute;
    top: 100%; /* Posición debajo de la fecha en el timeline */
    left: 50%; /* Centra la card debajo de la fecha */
    transform: translateX(-50%); /* Centra la card debajo de la fecha */
    transition: visibility 0.3s, opacity 0.3s; /* Transición de visibilidad y opacidad */
    overflow: hidden;
  }
  
  .card:before {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent; /* Triángulo superior de la card */
  }